h1{
  color:green;
}


.par1{
  border-width: 2px; /* Estiliza a largura */
  border-style: solid; /* Estiliza estilo */
  border-color:  rgb(60, 60, 82); /* Estiliza sua cor */
  border-radius: 20px; /*raio das bordas */
  padding: 2%; /* distância da margem interna */
  text-align: justify; /* justificar texto */
}

.par1:hover{ /* ao passar o mouse sobre o parágrafo */
  color:rgb(6, 136, 12);
  background-color: rgb(226, 255, 228);
}

#par2{
  font-weight: bolder; /* deixar o texto em negrito*/
}